@media (min-width: 801px) {
  header {
    width: 100%;
  }

  .icon {
    display: none;
  }

  /* MAIN GRID STYLES */

  .grid-container {
    min-height: 100%;
    margin-top: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 1rem;
    position: relative;
    grid-template-rows: repeat(3, 27rem);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  h4 {
    position: relative;
    border: 2px solid $hotpink;
    margin-top: 1rem;
    position: relative;
    padding: 1rem;
    color: $hotpink;
    font-weight: 800;
  }

  .grid-item {
    width: 100%;
    text-align: center;
    position: relative;
    border: 2px solid black;
  }

  h3 {
    font-size: 2rem;
    color: $hotpink;
    margin-top: 1rem;
  }

  p {
    margin-top: 1rem;
    line-height: 1.5rem;
  }

  a.cta {
    position: relative;
    margin-top: 1rem;
    display: inline-block;
    background: $hotpink;
    padding: 1rem;
    color: white;
    font-weight: 800;
    transition: all 0.1s ease-in-out;
  }

  .imgBx {
    position: relative;
    width: 20rem;
    height: 18rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
