@media (max-width: 800px) {
  header,
  footer {
    width: 100%;
  }

  footer {
    line-height: 2rem;
  }

  /* MOBILE GRID STYLES */
  .grid-container {
    min-height: 100%;
    margin-top: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 1rem;
    position: relative;

    .grid-item {
      width: 100%;
      text-align: center;
      padding: 1rem;
      position: relative;
      h3 {
        font-size: 2rem;
        color: $hotpink;
      }

      p {
        margin-top: 1rem;
        line-height: 1.5rem;
        font-weight: 600;
      }

      h4 {
        position: relative;
        border: 2px solid $hotpink;
        margin-top: 1rem;
        position: relative;
        padding: 1rem;
        color: $hotpink;
        font-weight: 800;
      }
      a {
        text-decoration: none;
        position: relative;
        margin-top: 1rem;
        position: relative;
        display: inline-block;
        background: $hotpink;
        padding: 1rem;
        color: white;
        text-decoration: none;
        font-weight: 800;
        transition: all 0.1s ease-in-out;

        &:active {
          top: 5px;
        }
      }
    }

    .imgBx {
      position: relative;
      margin-top: 1.5rem;
      width: 300px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;

      img {
        width: 100%;

        height: 100%;
      }
    }
  }
}
