@media (max-width: 800px) {
  /* GLOBAL Mobile Grid Styles */

  .grid-item {
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: relative;
    border: 2px solid black;

    h3 {
      font-size: 2rem;
      color: $hotpink;
    }

    h4 {
      position: relative;
      border: 2px solid $hotpink;
      margin-top: 1rem;
      position: relative;
      padding: 1rem;
      color: $hotpink;
      font-weight: 800;
    }

    p {
      margin-top: 1rem;
      line-height: 1.5rem;
      font-weight: 600;
    }

    /* CTA button on mobile */

    a.cta {
      position: relative;
      margin-top: 1rem;
      display: inline-block;
      background: $hotpink;
      padding: 1rem;
      color: #ffffff;
      font-weight: 800;
      transition: all 0.1s ease-in-out;

      &:active {
        top: 6px;
      }

      /* "Contact Us" hyperlink on Photography page */

      a.contact {
        text-decoration: underline;
        color: $hotpink;
        background: none;
        padding: 0;
        margin: 0;
        font-weight: 600;
      }

      /* "See details" on One of One item page */

      a.details {
        text-decoration: underline;
        color: $hotpink;
        background: none;
        padding: 0;
        margin: 0;
        font-weight: 600;
      }
    }

    /* Image container and styling */

    .imgBx {
      position: relative;
      width: 20rem;
      height: 20rem;
      margin: 1rem auto;
      border: 2px solid black;

      img {
        width: 100%;

        height: 100%;
      }
    }

    /* Long sticker image container and styling */

    .imgBx2 {
      position: relative;
      width: 20rem;
      height: 5rem;
      margin: 1rem auto;
      border: 2px solid black;

      img {
        width: 100%;

        height: 100%;
      }
    }
  }

  /* INDEX GRID Styles */

  .grid-container,
  .grid-container-collection,
  .grid-container-about,
  .grid-container-contact,
  .grid-container-apparel,
  .grid-container-apparel-c1,
  .grid-container-photography,
  .grid-container-stickers {
    min-height: 100%;
    width: 90%;
    margin: 1rem auto;
    display: grid;
    gap: 1rem;
    position: relative;
  }
}
