@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$hotpink: #ff0098;
$navpink: #ff64c1;

@import "./mediaqueries";

/* Reset Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monterrat", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

/* Global Styles */

header {
  background: black;
  color: white;
  border-bottom: 6px solid white;
  text-align: center;
  padding: 15px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  background: $navpink;
  color: white;
  a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    font-size: 1.5rem;

    &:hover {
      background: $hotpink;
    }
  }
}

nav .mainMenu {
  display: flex;
  list-style: none;
  font-weight: 700;
}

ul {
  margin-left: auto;
  margin-right: auto;
}

li {
  margin-left: 30px;
  margin-right: 30px;
}

/* Styles for instagram icon shown on desktop devices */

.nav-insta {
  display: inline-block;
  justify-content: center;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

/* Hidden nav hamburger menu only shown on mobile devices */

nav .openMenu {
  font-size: 2rem;
  margin: 10px;
  display: none;
  cursor: pointer;
}

/* Hidden "X" icon only shown on mobile devices */

nav .mainMenu .closeMenu,
.icon i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

/* CALL TO ACTION banner styles */

.cta-banner {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  h2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  a {
    color: white;
    &:hover {
      color: $hotpink;
    }
  }
}

/* Secondary back-link nav styles */

.back-link {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/* Footer Styles */

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  ul {
    list-style: none;
  }

  li {
    line-height: 40px;
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $hotpink;
    }
  }

  h4 {
    margin-top: 10px;
  }
}

/* Mobile Media Queries for hidden nav menu items */

@media (max-width: 800px) {
  nav .mainMenu {
    height: 50vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    transition: top 1s ease;
    display: none;
  }

  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav .openMenu {
    display: block;
  }

  nav .mainMenu li a:hover {
    background: $hotpink;
    font-size: 1.6rem;
  }

  .icon i {
    display: inline-block;
    padding: 10px;

    a {
      color: white;

      &:hover {
        background: $hotpink;
      }
    }
  }

  /* Hide desktop instagram icon */

  .nav-insta {
    display: none;
  }

  /* Mbile banner styles */

  .cta-banner {
    margin-left: auto;
    margin-right: auto;
    position: relative;

    h2 {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
