@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@media (max-width: 800px) {
  header,
  footer {
    width: 100%;
  }
  footer {
    line-height: 2rem;
  }
  /* MOBILE GRID STYLES */
  .grid-container {
    min-height: 100%;
    margin-top: 1rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: -ms-grid;
    display: grid;
    gap: 1rem;
    position: relative;
  }
  .grid-container .grid-item {
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: relative;
  }
  .grid-container .grid-item h3 {
    font-size: 2rem;
    color: #ff0098;
  }
  .grid-container .grid-item p {
    margin-top: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
  .grid-container .grid-item h4 {
    position: relative;
    border: 2px solid #ff0098;
    margin-top: 1rem;
    position: relative;
    padding: 1rem;
    color: #ff0098;
    font-weight: 800;
  }
  .grid-container .grid-item a {
    text-decoration: none;
    position: relative;
    margin-top: 1rem;
    position: relative;
    display: inline-block;
    background: #ff0098;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-weight: 800;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .grid-container .grid-item a:active {
    top: 5px;
  }
  .grid-container .imgBx {
    position: relative;
    margin-top: 1.5rem;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-container .imgBx img {
    width: 100%;
    height: 100%;
  }
}

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Monterrat", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
}

/* Global Styles */
header {
  background: black;
  color: white;
  border-bottom: 6px solid white;
  text-align: center;
  padding: 15px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ff64c1;
  color: white;
}

.main-nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  font-size: 1.5rem;
}

.main-nav a:hover {
  background: #ff0098;
}

nav .mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-weight: 700;
}

ul {
  margin-left: auto;
  margin-right: auto;
}

li {
  margin-left: 30px;
  margin-right: 30px;
}

/* Styles for instagram icon shown on desktop devices */
.nav-insta {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

/* Hidden nav hamburger menu only shown on mobile devices */
nav .openMenu {
  font-size: 2rem;
  margin: 10px;
  display: none;
  cursor: pointer;
}

/* Hidden "X" icon only shown on mobile devices */
nav .mainMenu .closeMenu,
.icon i {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

/* CALL TO ACTION banner styles */
.cta-banner {
  background: black;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 15px;
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.cta-banner h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cta-banner a {
  color: white;
}

.cta-banner a:hover {
  color: #ff0098;
}

/* Secondary back-link nav styles */
.back-link {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

/* Footer Styles */
footer {
  background-color: black;
  margin-top: 1rem;
  color: white;
  text-align: center;
  padding: 15px;
  position: absolute;
}

footer a {
  color: white;
  margin-top: 1rem;
  text-decoration: none;
}

footer a:hover {
  color: #ff0098;
}

/* Mobile Media Queries for hidden nav menu items */
@media (max-width: 800px) {
  nav .mainMenu {
    height: 50vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: black;
    -webkit-transition: top 1s ease-in-out;
    transition: top 1s ease-in-out;
    display: none;
  }
  nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav li {
    font-weight: 800;
  }
  nav .openMenu {
    display: block;
  }
  nav .mainMenu li a:hover {
    background: #ff0098;
    font-size: 1.6rem;
  }
  .icon i {
    display: inline-block;
    padding: 10px;
  }
  .icon i a {
    color: white;
  }
  .icon i a:hover {
    background: #ff0098;
  }
  /* Hide desktop instagram icon */
  .nav-insta {
    display: none;
  }
}
/*# sourceMappingURL=mainstyles.css.map */